IndentWidth: 2
IndentCaseLabels: true
AlignAfterOpenBracket: Align
BreakBeforeBraces: Attach
ColumnLimit: 150
AlignTrailingComments: true
NamespaceIndentation: All
AllowShortFunctionsOnASingleLine: Inline
KeepEmptyLinesAtTheStartOfBlocks: false
